.v8vQje {
    text-align: center;
}

.ahT6S {
	color: #202124;
    padding-bottom: 0;
    padding-top: 16px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;
    word-break: break-word;
    text-align: center;
}

.Y4dIwd {
	color: #202124;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 8px;
    text-align: center;
}

.PrDSKc {
    padding-bottom: 3px;
    
}

.PrDSKc button {
	font-family: Roboto,Arial,sans-serif;
    border-radius: 4px;
    color: #1a73e8;
    display: inline-block;
    font-weight: 500;
    letter-spacing: -0.75px;
    outline: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    text-align: left;
    border: 0;
    font-size: 15px;
}

.css-doybeh {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: start;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: #20212414 0px 6px 18px 5px, rgb(245 245 245) 0px 4px 8px;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 48px 40px 36px;
}

.css-sg6ih8 {
    box-sizing: border-box;
    position: relative;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: "Lab Grotesque", Prompt, -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    background-color: transparent;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 8px;
}

.vwtvsf {
	color: #5f6368;
    font-size: 14px;
    line-height: 1.4286;
    margin-top: 32px;
}

.PrDSKc a {
	border-radius: 4px;
    color: #1a73e8;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .25px;
    outline: 0;
    position: relative;
}

.zQJV3 {
	align-items: flex-start;
	display: flex;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -8px;
    margin-top: 26px;
    min-height: 48px;
    padding-bottom: 20px;
}

.dG5hZc {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
    width: 100%;
}

.qhFLie {
	text-align: right;
	font-size: 14px;
	white-space: normal;
}
.VfPpkd {
    cursor: pointer;
	text-align: left;
    background-color: transparent;
    display: inline-block;
    font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    height: 36px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    padding: 0 8px 0 8px;
    border: none;
    display: inline;
    color: #1a73e8;
}



.daaWTb {
	box-sizing: inherit;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.DuMIQc {
	padding: 0 24px 0 24px;
}

.nCP5yc {
	cursor: pointer;
	color: #ffff;
	font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    transition: border 280ms cubic-bezier(0.4,0,0.2,1),box-shadow 280ms cubic-bezier(0.4,0,0.2,1);
    box-shadow: none;
    background-color: var(--gm-fillbutton-container-color,#1a73e8);
    height: 36px;
    border-radius: 4px;
    min-width: 64px;
    border: none;
    outline: none;
    line-height: inherit;
    -webkit-user-select: none;
    -webkit-appearance: none;
    overflow: visible;
    vertical-align: middle;
    
}

.zQJV3 {
	webkit-align-items: flex-start;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 0;
    box-flex: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-left: -8px;
    margin-top: 26px;
    min-height: 48px;
    padding-bottom: 20px;
}








.css-1govs9x {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0px auto;
}

@media (min-width: 600px)
<style>
.css-10bjjys {
    padding-right: 0px;
    padding-left: 0px;
}

@media (min-width: 0px)
<style>
.css-10bjjys {
    padding-right: 16px;
    padding-left: 16px;
}


.css-10bjjys {
    box-sizing: border-box;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 100px;
    width: 100%;
}

.css-sg6ih8 .MuiInputBase-input {
    padding: 16px;
    text-align: left;
}

.css-mnn31 {
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    padding: 4px 0px 5px;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
}
.css-usxb4q {
    color: rgb(57, 68, 235);
    background-color: rgb(233, 234, 253);
    font-family: "Lab Grotesque", Prompt, -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding: 16px 20px;
    width: 100%;
    white-space: nowrap;
    border-radius: 34px;
    cursor: pointer;
    border: none;
    text-transform: none;
    box-shadow: none;
    transition: none 0s ease 0s;
}

.css-15ekach {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(25, 118, 210);
    display: none;
    line-height: 1.66;
    width: auto !important;
    padding: 8px 24px !important;
    font-weight: 500 !important;
}

.css-17mabs2 {
    margin: 0px 2px;
}



.css-jhp6nt {
    font-family: "Lab Grotesque", Prompt, -apple-system, BlinkMacSystemFont, helvetica, sans-serif;
    font-size: 34px;
    padding: 0px;
    margin: 0px;
    
    line-height: 130%;
    color: rgb(17, 17, 17);
    text-align: left;
    text-transform: none;
    overflow-wrap: break-word;
}

.css-vfrd1l {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    padding-bottom: 16px;
}

.css-13sljp9 {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
}

